<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Compass Starter by Ariona, Rian</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="/static/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="/static/style1.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>
        <script>
			$(window).load(function(){
				Search("İstanbul",0);
			});
     
            function searchFnc(event){
				event.preventDefault;
				Search($("#search").val(),1);
            }

			 function Search(searchValue,statuValue){
				$.ajax({
                    type : 'POST',
                    url:"{{url_for('save')}}",
                    data: {'data': searchValue,'statu':statuValue},
                    success:function(result){

						var todayInfo =$("div.today.forecast");
						$("div.today.forecast").find(".location").text(result.cityName)
						$("div.today.forecast").find(".num").text(result.listWeather[0].temp+"°C")
						$("div.today.forecast").find("span[header='wind']").text(result.listWeather[0].wind)
						$("div.today.forecast").find("span[header='humidity']").text(result.listWeather[0].humidity)
						$("div.today.forecast").find("#image").attr("src","http://openweathermap.org/img/wn/"+result.listWeather[0].icon+"@2x.png")
					
						$(".date").text(result.listWeather[0].dt_txt)
						var listDiv = $(".forecast").not("div.today.forecast");
						$(listDiv).each(function(index,element){
							$(element).find(".day").text(result.listWeather[index+1].date)
							$(element).find(".degree").text(result.listWeather[index+1].temp+"°C")
							$(element).find("img").attr("src","http://openweathermap.org/img/wn/"+result.listWeather[index+1].icon+"@2x.png")
							$(element).find("small").text(result.listWeather[index+1].temp_mid)							
						});
                   //     $("#image").attr("src","/static/images/icons/"+result["icon"]+".svg");
                    }
                })
         
			 }
        </script>
    
		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="index.html" class="branding">
						<img src="/static/images/logo.png" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">Weather</h1>
							<small class="site-description"></small>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
					 <!-- 	<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">

							<li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
							<li class="menu-item"><a href="news.html">News</a></li>
							<li class="menu-item"><a href="live-cameras.html">Live cameras</a></li>
							<li class="menu-item"><a href="photos.html">Photos</a></li>
							<li class="menu-item"><a href="contact.html">Contact</a></li>
						</ul>.menu -->
                        <div class="social-links">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->

			<div class="hero" >
				<div class="container">
					<form action="#" class="find-location">
						<input type="text" id="search" placeholder="Find your location...">
						<input type="submit" value="Find" onclick="searchFnc(this)">
					</form>

				</div>
			</div>
			<div class="forecast-table">
				<div class="container">
					<div class="forecast-container">
						<div class="today forecast">
							<div class="forecast-header">
								<div class="day" header="day">Monday</div>
								<div class="date" header="date">6 Oct</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="location" header="cityName">New York</div>
								<div class="degree">
									<div class="num"><span header="temp">23</span><sup>o</sup>C</div>
									<div class="forecast-icon">
										<img id="image" src="/static/images/icons/icon-1.svg" alt="" width=90>
									</div>	
								</div>
								<span><img src="/static/images/icon-umberella.png" alt=""><span header="humidity">29%</span></span>
								<span><img src="/static/images/icon-wind.png" alt=""><span header="wind">18km/h</span></span>
								<span><img src="/static/images/icon-compass.png" alt="">East</span>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Tuesday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="/static/images/icons/icon-3.svg" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Wednesday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="/static/images/icons/icon-5.svg" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Thursday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="/static/images/icons/icon-7.svg" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Friday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="/static/images/icons/icon-12.svg" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Saturday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="/static/images/icons/icon-13.svg" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<!-- <div class="forecast">
							<div class="forecast-header">
								<div class="day">Sunday</div>
							</div> 
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="/static/images/icons/icon-14.svg" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div> -->
					</div>
				</div>
			</div>
			
		</div>
		



		<script src="/static/js/jquery-1.11.1.min.js"></script>
		<script src="/static/js/plugins.js"></script>
		<script src="/static/js/app.js"></script>
		
	</body>

</html>